* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #061024;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}


a {
    color: #0d3074;
    font-weight: 600;
    text-decoration: none;
}

.hero-sub-section {
    width: 100vw;
    height: 600px;
    margin: 0;


}

#pix-page {
    background: linear-gradient(to right, #091735f3 8%, #091735c2 30%, #0917353d 70%), url('/images/services-img/pix.png');
}

#aereo-page {
    background: linear-gradient(to right, #091735f3 8%, #091735c2 30%, #0917353d 70%), url('/images/services-img/aereo.png');
}

#energia-page {
    background: linear-gradient(to right, #091735f3 8%, #091735c2 30%, #0917353d 70%), url('/images/services-img/energia.png');
}

#saude-page {
    background: linear-gradient(to right, #091735f3 8%, #091735c2 30%, #0917353d 70%), url('/images/services-img/saude.png');
}

#pix-page,
#aereo-page,
#energia-page,
#saude-page {
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 80px;
    box-sizing: border-box;
}




.header-section {
    max-width: 800px;
    color: #ebf5ff;
    box-sizing: border-box;
    padding-left: 70px;
}

.page-title {
    font-size: 50px;
    font-weight: 700;
    /* text-align: center; */
    margin-bottom: 20px;
    line-height: 1.2em;
}

.page-subtitle {
    font-size: 20px;
    /* text-align: center; */
}

.page-title-alt{
margin-top: 150px;
padding: 0 30px;
line-height: 1.2em;
box-sizing: border-box;
text-align: center;
}

/* 
@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 10px #0d2f742c;
    }

    50% {
        box-shadow: 0 0 20px #0d2f74e7;
    }
} */

.max-w-3xl {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */

    /* overflow: hidden; */
}


/* Estilo do Card Principal (Formulário) */
.form-card {
    /* background-color: #fafafa; */
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.041);
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #081631 30%, #0a2457 100%);
    margin: 60px auto;
}

.form-card-contato {
    border: 1px solid rgba(0, 0, 0, 0.13);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.041);
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    max-width: 700px;
    margin: 0 auto 100px auto;
    color: #07183b;
}



.form-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    color: white;
}

/* Estilos de Formulário */
.form-group {
    margin-bottom: 1.5rem;
}

.grid-2-cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .grid-2-cols {
        grid-template-columns: 1fr 1fr;
    }
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-input {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    padding: 0.75rem 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
    color: #061024;
}

.form-input:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

textarea.form-input {
    resize: vertical;
}

/* Botões de Ação */
.btn-submit,
.btn-action,
.btn-success,
.btn-blue {
    width: 100%;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-size: 1.125rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.btn-submit {
    background-color: #0958d7;
}

.btn-submit:hover {
    background-color: #0750c5;
    transform: scale(1.003);
}

.btn-blue {
    background: linear-gradient(135deg, #0d3074, #0958d7);
}

.btn-blue:hover {
    background: linear-gradient(135deg, #0958d7, #0d3074);
    transform: scale(1.01);
}

.btn {
    background: linear-gradient(135deg, #0d3074, #0958d7);
    border: none;
    padding: 15px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: linear-gradient(135deg, #0958d7, #0d3074);
    transform: scale(1.01);
}

/* Caixa de Resultado do Simulador */



/* Estilos Específicos */
.text-sm-gray {
    font-size: 0.875rem;
    color: #6b7280;
    margin-bottom: 1.5rem;
}

.radio-group label {
    display: inline-flex;
    align-items: center;
    margin-right: 1rem;
}

.radio-group input[type="radio"] {
    margin-right: 0.5rem;
}

.text-center-box {
    text-align: center;
    margin-top: 2rem;
}

.text-center-box p {
    color: #4b5563;
    margin-bottom: 0.5rem;
}

.text-center-box a {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}

.text-center-box a:hover {
    text-decoration: underline;
}

.text-red-700 {
    color: #b91c1c;
}

.text-green-700 {
    color: #15803d;
}

.text-blue-800 {
    color: #1e40af;
}

.list-disc {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.list-disc li {
    margin-bottom: 0.25rem;
}

/* Estilo para a página Sobre Nós */
.text-content-sobre {
    max-width: 56rem;
    margin: auto;
    font-size: 1.125rem;
    color: #0958d7;
    box-sizing: border-box;
    padding: 0 30px;
}

.text-content-sobre p {
    margin-bottom: 1.5rem;
    color: #4b5563;
}

.about-img{
    width: 100%;
    border-radius: 20px;
    margin: 40px 0;
}

.termos-container{
    max-width: 1200px;
    margin: 150px auto;
    /* border-left: 3px solid #0d3074 ; */
    /* padding-left: 20px; */
    /* background-color: red; */
}


@media(max-width:940px) {

    .scroll-btn {
        display: block;
        margin-left: 20px;
    }

}


@media (max-width: 800px) {

    #pix-page {
        background: linear-gradient(to top, #091735 25%, #091735d3 40%, #0917353d 70%), url('/images/services-img/pix.png');
    }

    #aereo-page {
        background: linear-gradient(to top, #091735 25%, #091735d3 40%, #0917353d 70%), url('/images/services-img/aereo.png');
    }

    #energia-page {
        background: linear-gradient(to top, #091735 25%, #091735d3 40%, #0917353d 70%), url('/images/services-img/aereo.png');
    }

    #saude-page {
        background: linear-gradient(to top, #091735 25%, #091735d3 40%, #0917353d 70%), url('/images/services-img/aereo.png');
    }

    #pix-page,
    #aereo-page,
    #energia-page,
    #saude-page {
        background-position: center;
        align-items: end;
        background-size: cover;
        padding-bottom: 50px;

    }

    .header-section {
        text-align: center;
        padding: 0 20px;
    }

    .page-title {
        font-size: 40px;
        line-height: 1.2em;
    }

    .page-subtitle {
        font-size: 17px;
    }

    .range-content {
        flex-direction: column;
        gap: 25px;
    }

    .info-element {
        width: 260px;
    }

    .text-content-sobre{
        text-align: center;
    }
}