@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

.wpp-fixed{
    position: fixed;
    z-index: 100;
    right: 1vw;
    bottom: 4vh;
    width: 70px;
    transition: .3s;
}

.wpp-fixed:hover{
    transform: scale(1.05) !important;
}